.eccv18header {
  background-image:url(../images/banner_eccv18.jpg);
  height:400px;
}
.eccv18headercontent {
  width:1000px;
  margin:auto
}
.eccv18title {
  text-align:center;
  font-size:80px;
  font-weight:500;
  font-family:Helvetica;
  color:white;
  padding-top:150px;
  margin-bottom:-10px;
}
.eccv18subtitle {
  text-align:center;
  font-size:24px;
  font-family:Helvetica;
  color:white;
  border-top:3px solid white;
  border-bottom:3px solid white;
  margin:auto;
  width:640px;
}
.shadow {
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.schedule-track {
  background-color:#A5DCFF;
}
.schedule-break {
  background-color:#ffcc5c;
}
.schedule-speaker {
  background-color:#A5DCFF;
}
.schedule-competitor {
  background-color:#f0f0f0;
}
.speakerimg {
  display:table-cell;
  padding:20px 20px 40px 0px;
  width:30%;
}
.speakerbio {
  display:table-cell;
  margin:0px;
  padding:0px;
  vertical-align:top
}
.subsection {
  padding-left:10px;
  padding-right:10px;
  margin-bottom:30px;
}
h2 {
  margin-top:30px;
  margin-bottom:30px;
}
.site-footer {
  background-color:#444;
  color:#fdfdfd;
  padding:30px 0;
}
.site-footer p {
  text-align:center;
  margin:0;
}
.site-footer p a:hover {
  color:#fdfdfd;
}
