//@font-face {
//    font-family: segoe_uiregular;
//    src: url('../fonts/segoeui-webfont.eot');
//    src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/segoeui-webfont.woff') format('woff'),
//         url('../fonts/segoeui-webfont.ttf') format('truetype'),
//         url('../fonts/segoeui-webfont.svg#segoe_uiregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
//@font-face {
//    font-family: segoe_uibold;
//    src: url('../fonts/segoeuib-webfont.eot');
//    src: url('../fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/segoeuib-webfont.woff') format('woff'),
//         url('../fonts/segoeuib-webfont.ttf') format('truetype'),
//         url('../fonts/segoeuib-webfont.svg#segoe_uibold') format('svg');
//    font-weight: 700;
//    font-style: normal;
//}
@font-face {
    font-family: segoe_uilight;
    src: url('../fonts/segoeuil-webfont.eot');
    src: url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuil-webfont.woff') format('woff'),
         url('../fonts/segoeuil-webfont.ttf') format('truetype'),
         url('../fonts/segoeuil-webfont.svg#segoe_uilight') format('svg');
    font-weight: 300;
    font-style: normal;
}


.titleSegoeLight {
	font-family: 'Segoe UI Light',segoe_uilight,Arial,Helvetica,sans-serif;
	color:#1d2125;
	font-size:28px;
    font-weight: 300;
}

.funSegoeLight {
	font-family: 'Segoe UI Light',segoe_uilight,Arial,Helvetica,sans-serif;
	color:#1d2125;
	font-size:18px;
	font-weight: 300;
	cursor:pointer;

}
.subtitleSegoeBold {
	font-family: 'Segoe UI',segoe_uibold,Arial,Helvetica,sans-serif;
	color:#666;
	font-size:24px;
    font-weight: 700;
}

.bodySegoeNormal {
	font-family: 'Segoe UI',segoe_uiregular,Arial,Helvetica,sans-serif;
	color:#888;
	font-size:17px;
    font-weight: 300;
}

.bodySegoeList {
	font-family: 'Segoe UI',segoe_uiregular,Arial,Helvetica,sans-serif;
	color:#888;
	font-size:15px;
    font-weight: 700;
}

.bodyNormal {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color:#888;
	font-size:14px;
}
.bodyBold {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color:#888;
	font-weight: bold;
}

.bodyNormalCollaborators {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color:#888;
	font-size:11px;
	line-height:2.7;
//	line-height:32px;
}

/* CSS rules for desktop layout. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	-ms-content-zooming: none;
	font-family: 'Segoe UI',segoe_uiregular,Arial,Helvetica,sans-serif;
	background: #fff;
	color: white;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.no-winphone .light {
    font-family: 'Segoe UI Light','Segoe UI',segoe_uilight,Arial,Helvetica,sans-serif;
    font-weight: 300;
}
.winphone .light {
    /* Use Segoe WP instead of Segoe UI Light on Windows Phone. */
    font-family: 'Segoe WP',sans-serif;
    font-weight: 300;
}
.big {
    font-size: 110%;
}
.small {
    font-size: 91%;
}
.bold {
    font-family: 'Segoe UI',segoe_uibold,Arial,Helvetica,sans-serif;
    font-weight: 700;
}
p {
    margin: 1em 0;
}
a img {
        border-width: 0;
    }
ul.no_bullet {
 list-style-type: none;
 padding: 0;
 margin: 0;
 }
li.checkBullet {
	background:url(../images/check.gif) no-repeat left top;
	height: 24px;
	padding-left: 38px;
 }

.footer {
	width:100%;
	height:30px;
	background-color: #1d2125;
}

.footer a {
    color: white;
}
.footer a:hover,
.footer a:focus {
    color: white;
}


/* IDs ------------------------------------ */
#header {
    position: absolute;
	height:154px;
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #e16c03;
    background: #1d2125;
    z-index: 1;
    font-size: 120%;
}
#contentRow {
	margin-top:150px;
}
#contentColumn {
	vertical-align:top;
	width:100px;
	display:table-cell;
	height: 380px;
	padding-left:20px;
	padding-right:40px;
	background-color: #fff;
}
#contentColumnExplore {
	vertical-align:top;
	width:800px;
	display:table-cell;
	height: 380px;
	padding-left:20px;
	padding-right:40px;
	background-color: #fff;
}
#contentColumnPeople {
	width:800px;
	display:table-cell;
	height: 380px;
	padding-left:20px;
	padding-right:40px;
	background-color: #fff;
}
#contentColumnNoPadLeft {
	width:480px;
	display:table-cell;
	height: 380px;
	padding-right:40px;
	background-color: #fff;
}
#collaboratorsColumn {
	display:inline-block;
	width:220px;
	height:370px;
	margin-top:-30px;
	background-color: #fff;
    line-height: 50%
}
#iconsImage {
	margin-top:-20px;
	width:240px;
	height:56px;
}
#sponsorsImage {
	position:inherit;
	float:right;
	display:inherit;
	margin-top:-10px;
	margin-bottom:20px;
	margin-left:-15px;
	width:150px;
}
#logoTabs {
    width: 800px;
	height: 148px;
	alignment-baseline:baseline;
    margin: 0 auto;
}
#logoImage {
	margin-top:45px;
	width:363px;
	height:103px;
}
#emailLink {
	font-family: 'Segoe UI',segoe_uiregular,Arial,Helvetica,sans-serif;
	font-size:14px;
	color: #fff;
}

/* CLASSES ------------------------------------ */
.centerwrapper
    {
       margin: auto;
       width: 800px;
    }
.centerFullArea {
    margin: auto;
	width:800px;
}
.tabDivSeparaterSelected1 {
    height:4px;
    background-color:e16c03;
}
.tabDivSeparater1 {
    height:4px;
    background-color:1d2125;
}
.tabDivSeparater2 {
    height:1px;
    background-color:1d2125;
}
.tabDivSelected {
    color:1d2125;
    width: 80px;
    height: 56px;
    margin-top: -35px;
    cursor: pointer;
    background-color:02b770 ;
    font-family: 'Segoe UI',segoe_uibold,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size:16pt;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    vertical-align: text-bottom;
    text-align: center;
}
.tabDiv {
    vertical-align:bottom;
    color: white;
    width: 80px;
    height: 56px;
    margin-top: -35px;
    cursor: pointer;
    background-color:1d2125 ;
    font-family: 'Segoe UI',segoe_uibold,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size:16pt;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    vertical-align: text-bottom;
    text-align: center;
}

.tab {
    width: 80px;
    height: 76px;
    margin: 0;
    cursor: pointer;
}
.tabEmail {
	width:200;
    height: 76px;
    margin: 0;
    cursor: pointer;
}
.separator {
	display:inline-block;
    width: 37px;
    background:none;
    height: 1px;
}



#microsoftResearchButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 142px;
    height: 40px;
    background: url(../icons/MSR.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
    .no-mobile #microsoftResearchButton[href]:hover {
        /* Don't use hover rules on mobile browsers. */
        background-color: #333;
        color: white;
    }


.no-mobile .tab[href]:hover {
	/* Don't use hover rules on mobile browsers. */
	background: #333;
	color: white;
}
.tab.selected {
	pointer-events: none;
	background: #C32B32;
	border-bottom: 4px solid black;
	margin: 0 -1px -4px -1px;
	padding-left: 1px;
	padding-right: 1px;
	z-index: 1;
	cursor: auto;
}
.function{
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
//    background: #dddddd;
//    background: #d1ffd1;
//    background: #b3ffb3;
    background: #d6ffd6;
    width: 300px;
    border-radius: 5px;
    font-family:Consolas, "Liberation Mono", Courier, monospace;
}
.function-title{
    color:mediumblue
}
.json{
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
//    background: #dddddd;
//    background: rgba(2,173,106, 255);
//    background: #d1ffd1;
//    background: #b3ffb3;
//    background: #A3FFA3;
    background: #d6ffd6;
    width: 300px;
    border-radius: 5px;
}
.jsontabstartend{
    padding: 0 0px;
    font-size:11pt;
    line-height: 150%;
}
.jsontab{
    padding: 0 20px;
    font-size:11pt;
    line-height: 130%;
}
.jsonobject{
    font-family:Consolas, "Liberation Mono", Courier, monospace;
    color: block;
    display:inline-block;
}
.jsonfield{
    font-family:Consolas, "Liberation Mono", Courier, monospace;
    width:150px;
    color: #036;
    display:inline-block;
}
.jsonvalue{
    font-family:Consolas, "Liberation Mono", Courier, monospace;
    width:450px;
    color: #800;
    display:inline-block;
}
.func_or_var{
    font-family: courier new;;
}
.subtitleSegoeLight{
    font-size:18pt;
	font-family: 'Segoe UI Light',segoe_uilight,Arial,Helvetica,sans-serif;
	color:#1d2125;
    font-weight: 300;
}
